build/
out/
cmake-build-*/
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
.vscode/
*.dll
*.pdb
*.exe
*.lib
*.obj
*.ilk
*.idb
*.tlog/
*.log
*.ipdb
i386/
x64/
ARM64/
*.orig
*.rej
*.bak
*.swp
*.tmp
.DS_Store
Thumbs.db
