[submodule "server"]
	path = server
	url = ../F4MPServer.git
	branch = develop
[submodule "client"]
	path = client
	url = ../F4MPClient.git
	branch = develop
[submodule "client-ng/lib/commonlibf4"]
	path = client-ng/lib/commonlibf4
	url = https://github.com/libxse/commonlibf4.git
